<h1 class="own-nm"><%="#{@owner.owner_name}"%>'s garage</h1>
<% @owner.cars.collect do |car| %>
<%= link_to url_for(car.pictures, class: "car-thumb"), owner_car_path(car.owner_id, car) if car.pictures.attached? %>

<%= link_to car.car_model, owner_car_path(car.owner_id, car) if !car.pictures.present? %>
<% end %>
<% @owner.campers.collect do |camper| %>
<%= link_to image_tag(camper.picture_one, class: "camper-thumb"), owner_camper_path(camper.owner_id, camper) if camper.picture_one.present? %>
<%= link_to image_tag(camper.picture_two, class: "camper-thumb"), owner_camper_path(camper.owner_id, camper) if camper.picture_two.present? && !camper.picture_one.present? %>
<%= link_to camper.camper_model, owner_camper_path(camper.owner_id, camper) if !camper.picture_one.present? && !camper.picture_two.present? %>
<% end %>
<br><br>

<%= button_to "Edit Owner?", edit_owner_path(@owner), method: :get %> 
<br>

<%= link_to "Owners Home", owners_path, method: :get %>
&nbsp &nbsp

<%= link_to "Make a New Car", new_owner_car_path(@owner), method: :get %>
&nbsp &nbsp 

<%= link_to "Make a New Camper", new_owner_camper_path(@owner), method: :get %>