<h1><%= title %></h1>

<%= form_with model: camper, url: url, local: true  do |form| %>
    <% if camper.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% camper.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <br>
  <%= form.label :make %>
  <%= form.text_field :make %>
  <br> 
  <%= form.label :camper_model %>
  <%= form.text_field :camper_model %>
  <br>
  <%= form.label :owner %>
  <%= form.collection_select :owner_id, Owner.all, :id, :owner_name %>
  <br>
  <%= form.label :picture_one %>
  <%= form.file_field :picture_one %>
  <br>
  <%= form.label :picture_two %>
  <%= form.file_field :picture_two %>
  <br>
  <%= form.label :year %>
  <%= form.number_field :year %>
  <br>
  <%= form.label :description %>
  <%= form.text_field :description %>

  <br>
  <br>

  <%= form.submit %>

<% end %>