<h1><%= title %></h1>

<%= form_with model: car do |form| %>

  <%= render "partials/carerrorform" %>
  <br>
  <%= form.label :brand_name %>
  <%= form.text_field :brand_name %>
  <br> 
  <%= form.label :car_model %>
  <%= form.text_field :car_model %>
  <%# form.hidden_field :owner_name, value: @owner.owner_name %>
  <br>
  <%= form.label :picture %>
  <%= form.file_field :picture %>
  <br>
  <%= form.label :year %>
  <%= form.number_field :year %>
  <br>
  <%= form.label :description %>
  <%= form.text_field :description %>

  <br>
  <br>

  <%= form.submit %>

<% end %>