<h1><%= title %></h1>

<%= form_with model: car, url: url, local: true  do |form| %>

  <%= render "partials/carerrorform" %>
  <br>
  <%= form.label :brand_name %>
  <%= form.text_field :brand_name %>
  <br> 
  <%= form.label :car_model %>
  <%= form.text_field :car_model %>
  <br>
  <%= form.label :owner %>
  <%= form.collection_select :owner_id, Owner.all, :id, :owner_name %>
  <br>
  <%= form.label :picture %>
  <%= form.file_field :picture %>
  <br>
  <%= form.label :year %>
  <%= form.number_field :year %>
  <br>
  <%= form.label :description %>
  <%= form.text_field :description %>

  <br>
  <br>

  <%= form.submit %>

<% end %>