<h1><%= title %></h1>
<%= form_with model: car, url: url, local: true  do |form| %>
    <% if car.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% car.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <br>
  <%= form.label :make %>
  <%= form.text_field :make %>
  <br> 
  <%= form.label :car_model %>
  <%= form.text_field :car_model %>
  <br>
  <%= form.label :owner %>
  <%= form.collection_select :owner_id, Owner.all, :id, :owner_name %>
  <br>
  <%= form.label :pictures %>
  <%= form.file_field :pictures, multiple: true %>
  
  <br>
  <%= form.label :year %>
  <%= form.number_field :year %>
  <br>
  <%= form.label :description %>
  <%= form.text_field :description %>

  <br>
  <br>

  <%= form.submit %>

<% end %>