<h1><%= title %></h1>

<%= form_with model: owner, local: true  do |form| %>
    <% if owner.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% owner.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <br>
  <%= form.label :owner_name %>
  <%= form.text_field :owner_name %>
  <br>
 
  <%= form.hidden_field :user_id, value: current_user.id %>
  <br>

  <%= form.submit %>
  <br>
<% end %>

