<h1><%= title %></h1>

<%= form_with model: owner do |form| %>

  <%= render "partials/ownererrorform" %>
  <br>
  <%= form.label :owner_name %>
  <%= form.text_field :owner_name %>
  <br>
 
  <%= form.hidden_field :user_id, value: current_user.id %>
  <br>

  <%= form.submit %>
  <br>
<% end %>

