<h1><%= title %></h1>

<%= form_with model: user do |form| %>

  <%= render "partials/usererrorform" %>
  <br>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :user_name %>
  <%= form.text_field :user_name %>
  <br>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <br>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>

  <br>
  <br>

  <%= form.submit %>

<% end %>