<h1><%= title %></h1>

<%= form_with model: user, local: true do |form| %>

  <%= render "partials/usererrorform" %>
  <br>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <br>
  <%= form.label :user_name %>
  <%= form.text_field :user_name %>
  <br>
  <%= form.label :avatar %>
  <%= form.file_field :avatar %>
  <br>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <br>
  <br>

  <%= form.submit %>
<br>
<% end %>