<h1><%= title %></h1>

<%= form_with model: user do |form| %>

  <%= render "partials/usererrorform" %>
  <br>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :user_name %>
  <%= form.text_field :user_name %>
  <br>
  <%= form.label :avatar %>
  <%= form.file_field :avatar %>
  <br>
  <%= form.label :member %>
  <%= form.radio_button :permission, 'member' %>
  <%= form.label :admin %>
  <%= form.radio_button :permission, 'admin' %>
  <br>
  <%= form.label :user %>
  <%= form.radio_button :admin, 'user' %>
  <%= form.label :admin %>
  <%= form.radio_button :admin, 'admin' %>
  <br>  
  <%= form.label :password %>
  <%= form.password_field :password %>
  <br>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>

  <br>
  <br>

  <%= form.submit %>

<% end %>