<h1><%= 'Edit User' %></h1>

<%= form_with model: @user, local: true do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <br>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <br>
  <%= form.label :user_name %>
  <%= form.text_field :user_name %>
  <br>
  <%= form.label :avatar %>
  <%= form.file_field :avatar %>
  <br>
  <%= form.label :current_password %>
  <%= form.password_field :current_password %>
  <br>
  <%= form.label :new_password %>
  <%= form.password_field :password %>
  <br>
  <%= form.label :repeat_new_password %>
  <%= form.password_field :password_confirmation %>
  <br>
  <br>

  <%= form.submit %>
<br>
<% end %>