<h1>Login</h1>

<%= form_with model: @user, url:login_path do |form| %>
  <%= render "partials/usererrorform" %>
  <%= form.label :user_name %>
  <%= form.text_field :user_name %>
  <br>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <br>
  <%= link_to "Sign in With Google", '/auth/google_oauth2' %>
  <br>
  <%= form.submit "LogIn"%>
<% end %>