<h1>Login</h1>

<%= form_with model: @user, local: true, url:login_path do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <%= form.label :email %>
  <%= form.text_field :email %>
  <br>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <br><br>
  <%= link_to "Sign in With Google", '/auth/google_oauth2' %>
  <br><br>
  <%= form.submit "LogIn"%>
<% end %>