<p>Car Brand: <%= @car.make %></p>
<p>Model Name: <%= @car.car_model %></p>
<p>Owner Name: <%= @owner.owner_name %></p>
<p>Car Model Year: <%= @car.year %></p>
<p class="desc">Description of Car: <%= @car.description %></p>
<p class="car_pic"><%=  image_tag @car.picture_one if @car.picture_one.present? %></p>
<p class="car_pic"><%=  image_tag @car.picture_two if @car.picture_two.present? %></p>
<br><br>
<%= button_to "Edit Car?", edit_owner_car_path(@owner,@car), method: :get %> 
<br><br>
<%= link_to "Owners Home", owners_path, method: :get %>
<%= link_to "Back", owner_path(@owner), method: :get %>