
<%= image_tag @cargallery.picture_1, class: "car_pic" if @car.picture.present? %>
<p>Description Picture: <%= @cargallery.description_1, class: "desc" %></p>
<%= image_tag @cargallery.picture_2, class: "car_pic" if @car.picture.present? %>
<p>Description Picture: <%= @cargallery.description_2, class: "desc" %></p>
<%= image_tag @cargallery.picture_3, class: "car_pic" if @car.picture.present? %>
<p>Description Picture: <%= @cargallery.description_3, class: "desc" %></p>
<%= image_tag @cargallery.picture_4, class: "car_pic" if @car.picture.present? %>
<p>Description Picture: <%= @cargallery.description_4, class: "desc" %></p>
<%= image_tag @cargallery.picture_5, class: "car_pic" if @car.picture.present? %>
<p>Description Picture: <%= @cargallery.description_5, class: "desc" %></p>

<br><br>

<%= button_to "Edit Car?", edit_owner_car_path(@owner,@car), method: :get %> 
<br><br>
<%= link_to "Owners Home", owners_path, method: :get %>
&nbsp &nbsp
