<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    <title>Winchestertrimshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="header">
      <%= image_tag "logo1.jpg", class: "imgcontent" %>
      
      <%= link_to "Home", users_path, method: :get, class: "user" %>
      <%= link_to "NewUser", new_user_path, method: :get, class: "newuser" %>
      <%= link_to "LogIn", login_path, method: :get, class: "login" %>
      <%= link_to "LogOut", logout_path, method: :delete, class: "logout" %>
      
    </div>
  
    <%= yield %>

    <footer class="footer">
      <div class="footer-menu">
        <ul>
          <li><a href="http://www.facebook.com"><%= image_tag "facebook.jpg", class: "each-footer-menu-item", size: "50x50" %></a></li>
          <li><a href='http://www.twitter.com'><%= image_tag "twitter.jpg", class: "each-footer-menu-item", size: "50x50" %></a></li>   
          <li><a href="http://www.google.com" ><%= image_tag "google-plus.png", class: "each-footer-menu-item", size: "50x50" %></a></li>
        </ul>
      </div>   
    </footer>


  </body>
</html>
